In [1]:
import pandas as pd

In [3]:
usernames = {'anvar':'anvar223','olim':'olimtoy','maryam':'mary334455','javohir':'javohir445'}
emails = {'anvar':'anvar@gmail.com','olim':'olim@mail.ru','maryam':'mary33@gmail.com','javohir':'javohir445@gmail.com'}

data = {
    'usernames' : usernames,
    'emails' : emails    
}
df = pd.DataFrame(data)

In [4]:
df

          usernames                emails
anvar      anvar223       anvar@gmail.com
olim        olimtoy          olim@mail.ru
maryam   mary334455      mary33@gmail.com
javohir  javohir445  javohir445@gmail.com

In [5]:
df.index

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')

In [6]:
data2 = {
    'username':{'olim':'olimjon21', 'maryam':'maryam2020'},
    'email':{'olim':'olimjon21@mail.ru', 'maryam':'maryam2020@gmail.com'}    
    }

In [8]:
df2 = df.append(pd.DataFrame(data2))

AttributeError: 'DataFrame' object has no attribute 'append'

In [9]:
newind = pd.Index(['olim', 'nafisa', 'hamida'])
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [10]:
newind.isin(df.index)

array([ True, False, False])

In [13]:
newind.difference(df.index)

Index(['hamida', 'nafisa'], dtype='object')

In [16]:
df.index.difference(newind)

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [17]:
df.index.union(newind)

Index(['anvar', 'hamida', 'javohir', 'maryam', 'nafisa', 'olim'], dtype='object')

In [18]:
df.index.delete(0)

Index(['olim', 'maryam', 'javohir'], dtype='object')

In [19]:
newind.drop('nafisa')

Index(['olim', 'hamida'], dtype='object')